@model Lmbtfy.Web.Models.ImageMetadata

<div id="hp_bottomCell">
    <footer id="b_footer" class="b_footer" role="contentinfo" aria-label="Footer" data-priority="0">
        <div id="b_footerItems">
            <span>&#169;@DateTime.Now.Year <a href="https://github.com/mateusrodrigues/letmebingthatforyou" title="LMBTFY GitHub Repo">LMBTFY</a> This site is not affiliated with Microsoft or Bing.com</span>
            <ul>
                <li>Image is licensed under <a href="@Model.LicenseUrl" title="@Model.LicenseType">@Model.LicenseType</a> by <a href="@Model.SourceUrl">@Model.Author</a>.</li>
            </ul>
        </div>
    </footer>
</div>