@model ImageMetadata

<ul id="sw_footL">
    <li>
        &#169;@DateTime.Now.Year <a href="http://haacked.com/" title="Phil's Blog">Phil Haack</a>
    </li>
    <li>
        Image is licensed under <a href="@Model.LicenseUrl" title="@Model.LicenseType">@Model.LicenseType</a> by <a href="@Model.SourceUrl">@Model.Author</a>.
    </li>
    <li>
        <em class="disclaimer">This site is not affiliated with Microsoft nor Bing.com.</em>
    </li>
</ul>

<div class="hosting"><a href="https://appharbor.com" title="Hosted on AppHarbor">Thanks to AppHarbor for hosting this site</a></div>