@model GeneratedUrlModel

<div class="center">
    <h1>Share the link below!</h1>
    <input id="lmbtfyLink" value="@Model.TinyUrl" />
    
    <p>
        Alternatively, provide the direct link: <strong><a href="@Model.Url" title="The Url">@Model.Url</a></strong><br />
        The URL <a href="@Model.TinyUrl" title="Tiny URL">@Model.TinyUrl</a> was shortened using <a href="http://tinyurl.com" title="Tiny Url">TinyUrl.com</a>.
    </p>
</div>